.contenedor{
	background-color: blue;
	/* display: inline-flex; */
	display: flex;
	column-width: auto;
}

.item{
	background-color: #ccc;
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
}